body
{

margin: 0;
padding: 0;    
}

h1{
    margin: 0;
    background-color: rgb(96,0,0);
    color: white;
    text-align: center;
    padding: 30px;
}

.menu{
    display: flex;
    background-color: rgb(96,0,0);
    justify-content: space-between;
    color: white;
    padding: 10px;
}

.menu a{
    color: white;
}

.menu a:hover {
    text-decoration: orange;
}

.conteudo
{
    width: 700px;
    border: 1px solid rgb(96,0,0);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 5px 5px 10px blue;
}